* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.landing {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./assets/img/australia.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 3rem repeat(3, 1fr) 3rem;
}
.search,
.globe {
  height: clamp(0.9rem, 2.5vw, 3.5rem);
}
.search:hover,
.globe:hover {
  opacity: 0.6;
}
.social-links {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(4rem, 10rem));
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 10px;
  justify-items: center;
}
@media screen and (max-width: 700px) {
  .social-links {
    background-color: rgba(200, 200, 200, 0.5);
  }
}
.social-links img {
  margin-bottom: 20px;
}
.social-links img:hover {
  opacity: 0.6;
}
.cta {
  transform: translateY(170px);
}
.cta-button {
  grid-column: 3/4;
  justify-self: center;
}
.about {
  height: auto;
  background: #483d3d;
  padding: 3.5rem;
}

@media screen and (min-width: 900px) {
  .about {
    display: grid;
    grid-template-columns: 3fr repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
  }
  .about-content {
    margin: auto 0;
    grid-column: 1/2;
    grid-row: 1 / span 3;
    position: relative;
    background-color: #483d3d;
    padding: 1.2rem;
    z-index: 3;
  }
  .about::before {
    content: "";
    width: 136px;
    height: 650px;
    display: block;
    position: absolute;
    top: -100px;
    left: 150px;
    z-index: 0;
    background: #c4c4c4;
    border-radius: 10px;
  }
}
.destinations {
  padding: 2.5rem;
  text-align: center;
}
.destinations h1 {
  text-align: left;
}

@media screen and (min-width: 900px) {
  .destinations {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
  }
  .carousel {
    display: flex;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .right {
    grid-column: 2/3;
  }
}
